@import "compass";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

////////////////////////////////////////////////////////////////
// for Debugging
////////////////////////////////////////////////////////////////

[class^="col-"] {
//   border: solid;
//   border: 0px;
}

////////////////////////////////////////////////////////////////
// Body
////////////////////////////////////////////////////////////////

$fonts: '-apple-system', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight: 300;

body {
  -webkit-font-smoothing: antialiased;
  font-family: $fonts;
  font-weight: $font-weight;
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-family: $fonts;
  font-weight: $font-weight;
}

h2 {
  -webkit-font-smoothing: antialiased;
  font-family: $fonts;
  font-weight: $font-weight;
}

h3 {
  -webkit-font-smoothing: antialiased;
  font-family: $fonts;
  font-weight: $font-weight;
}

h4 {
  -webkit-font-smoothing: antialiased;
  font-family: $fonts;
  font-weight: $font-weight;
}

h5 {
  -webkit-font-smoothing: antialiased;
  font-family: $fonts;
  font-weight: $font-weight;
}

////////////////////////////////////////////////////////////////
// NavigationBar
////////////////////////////////////////////////////////////////

$navbar-textColor: #2c2c2c;
$navbar-toggleColor: #676767;

.navbar-default {
  border-color: rgba(255, 255, 255, .3);
  background-color: rgba(255, 255, 255, .4);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);

  .navbar-brand {
    color: $navbar-textColor;
  }

  .navbar-nav {
    li {
      a {
        color: $navbar-textColor;
      }
    }
  }
  
  .navbar-toggle {
    border-color: $navbar-toggleColor;

    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }

    .icon-bar {
      background-color: $navbar-toggleColor;
      height: 1px;
    }
  }
}

////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////

header {
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
}

.header-content {
  padding-top: 130px;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0)
}

////////////////////////////////////////////////////////////////
// Section
////////////////////////////////////////////////////////////////

.section-heading {
  padding-top: 70px;
}

.section-heading-without-title {
  padding-top: 150px;
}

.section-title {
  text-align: center;
}

.section-footer {
  padding-bottom: 100px;
}

////////////////////////////////////////////////////////////////
// About
////////////////////////////////////////////////////////////////

$about-backgroundColor: #fff;
$about-textColor: black;

$profile-iconSize: 120px;

$social-iconColor: #707478;
$social-iconHoverColor: #ff7496;
$social-iconSize: 3.75em;

#about {
  background-color: $about-backgroundColor;
  color: $about-textColor;

  #profile-icon {
    height: $profile-iconSize;
    width: $profile-iconSize;
    border-radius: 50%;
    
    margin-top: 50px;
  }

  #profile-text {
    padding-bottom: 20px;
  }

  .social-icons {
    padding-top: 40px;
    
    .social-icon {
      border: solid 1px $social-iconColor;
    
      width: $social-iconSize;
      height: $social-iconSize;
      border-radius: 100%;
    
      line-height: $social-iconSize;
    
      text-decoration: none;
      text-align: center;
      text-indent: $social-iconSize;
      
      margin: 0 auto;
      
      &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      
        position: absolute;
        left: 0;
      
        width: inherit;
        height: inherit;
        font-size: 3rem;
        line-height: inherit;
        text-align: center;
        text-indent: 0;
        
        margin: 0 auto;
        
        color: $about-backgroundColor;
        text-shadow: 1.25px 0px 0px $social-iconColor, -1.25px 0px 0px $social-iconColor, 0px 1.25px 0px $social-iconColor, 0px -1.25px 0px $social-iconColor;
      }

      &:hover {
        border-color: $social-iconHoverColor;
        
        &:before {
          text-shadow: 1.25px 0px 0px $social-iconHoverColor, -1.25px 0px 0px $social-iconHoverColor, 0px 1.25px 0px $social-iconHoverColor, 0px -1.25px 0px $social-iconHoverColor;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
// Apps
////////////////////////////////////////////////////////////////

.itunes {
  display: inline-block;
  overflow: hidden;
  background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
  width: 135px;
  height: 40px;

  margin-top: 60px;
}

.learn-more {
  margin-top: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

////////////////////////////////////////////////////////////////
// Amekuru
////////////////////////////////////////////////////////////////

#amekuru {
  // generated at http://www.colorzilla.com/gradient-editor/
  background-color: #0d6df0; // Old browsers
  @include filter-gradient(#0d6df0, #4fa9f0, vertical); // IE6-9
  @include background-image(linear-gradient(top, #0d6df0 0%,#4fa9f0 100%));

  color: #fff;

  a {
    color: #fff;
  }
  
  #amekuru-text {
    padding-top: 40px;
  }
  
  #github-icon {
    margin-top: 40px;
  }
}

@media (min-width: $screen-sm-min) {
  #amekuru {
    #amekuru-text {
      padding-top: 0px;
    }
  }
}

////////////////////////////////////////////////////////////////
// Photos
////////////////////////////////////////////////////////////////

.gallery {
  margin-top: 40px;
}

.photo {
  background-position: center;
  background-size: cover;
  height: 320px;
}

@for $i from 0 to 7 { // 0...6
    #photo#{$i} {
        background-image: url(../images/gallery/#{$i}.jpg);
    }
}

#powered-by {
  margin-top: 15px;
}

#explorer-more {
  margin-top: 70px;
}

#smugmug-logo {
  width: 140px;
}

////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////

#footer {
  background-color: #333333;
  color: #fff;
}
